html { height: 100% }
body {
    background-color: #dddddd;

    color: #ffffff;
}

#content {
	min-height:100%;
	position:relative;
	left: 140px;
	width: 1000px;
	overflow: hidden;
}

#banner {
	display: block;
	border-radius: 10px;
}

#nav {
    width: 1000px;
    overflow: hidden;
	border-radius: 5px;
}

#nav ul {
    float: left;
    height: 30px;
    width: 1000px;
	display: block;
	background-color: #0f6fb2;
    opacity: 0.95;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 0 250px 150px rgba(0,0,0,.2);
    margin: 0;
    padding: 0;
	border-bottom: 5px solid #143157;
    background-color: #0f6fb2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(15, 111, 178)), to(rgb(34, 65, 112)));
    background-image: -webkit-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -moz-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -o-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -ms-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0f6fb2', EndColorStr='#224170');
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 1px 0 #0081bd,inset 0 2px 0 #0078b0,inset 0 3px 0 #0070a3, 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

#nav ul li {
    float: left;
    height: 30px;
}

#nav ul li a {
    font: bold 16px/24px "Lato","Trebuchet MS", Arial, Helvetica, sans-serif;
    display: block;
    height: 30px;
    border-bottom: 5px solid #143157;
    background-color: #0f6fb2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(15, 111, 178)), to(rgb(34, 65, 112)));
    background-image: -webkit-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -moz-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -o-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: -ms-linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    background-image: linear-gradient(top, rgb(15, 111, 178), rgb(34, 65, 112));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0f6fb2', EndColorStr='#224170');
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 1px 0 #0081bd,inset 0 2px 0 #0078b0,inset 0 3px 0 #0070a3, 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

#nav ul li a { width: 200px }

#nav ul li:first-child a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav ul li:last-child a {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nav ul li a:hover {
    box-shadow: inset 0 1px 0 #0070a3,inset 0 0 30px 0 #142a4a;
    text-shadow: 0 1px 3px #143157;
    border-bottom: 5px solid #0e223d;
}

#nav ul li a:active,
#nav ul li a.active {
    border-bottom: 1px solid #0e223d;
    height: 30px;
    padding-top: 2px;
    box-shadow: inset 0 1px 0 #0070a3,inset 0 0 40px 0 #0d1b30;
}

#nav ul li a span {
    border-left: 1px solid #143157;
    border-right: 1px solid #1563a3;
    height: 100%;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#nav ul li:first-child a span { border-left: none }
#nav ul li:last-child a span { border-right: none }

#menu {
	border-radius: 5px;
	display: inline-block;
	width: 180px;
	margin-top: 5px;
	background: #dae3f2;
	padding: 0 10px 15px 10px;
	color: black;
	float: left;
}

#IQ{
	border-collapse:collapse;
	border:1px solid black;
}

#IQ td{
	border: 1px solid;
}

#IQ th{
	border: 1px solid black;
	background-color: #7D71EB;
	color:white;
	text-align: center;
}

#skor {
	text-align : center;
}

.warna{
	border: 1px solid black;
	background-color: #BFC8E3;
}

#main {
	display: inline-block;
	border-radius: 5px;
	width: 772px;
	margin-top: 5px;
	background: #e9edf5;
	padding:10px;
	padding-bottom:10px;
	color: black;
	float: right;
}

.isi {
	padding: 0 20px 0px 15px;
	text-align: justify;
}

.clear {
    clear: both;
}

footer {
	margin-top: 5px;
	width:100%;
	height:25px;
	background:#1d1db1;
	float: both;
	border-radius: 5px;
	text-align: center;
	color: yellow;
}

.register {
	color: black;
}

.register input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 300px;
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.login {
	width: 50x;
	margin: 20px auto;
	padding: 0 15px 0 15px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef;
	color: #ffffff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}